.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar {
  border-right: solid 1px #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 24px;
  background-color: #fafafa;
}

.content {
  display: flex;
  padding: 20px;
}

.sidebar.expanded-sidebar {
  width: 180px;
  transition: width 1.5s ease;
  padding: 20px;
}

.sidebar.collapse-sidebar {
  width: 40px;
  transition: width 1.5s ease;
  padding: 20px;
  padding-top: 20px;
}

.btn-handler.expanded-arrow {
  transform: rotate(0deg);
}

.btn-handler.collapse-arrow {
  transform: rotate(180deg);
}

@keyframes slide-out-left {
  0% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo {
  overflow: hidden;
}

.logo img.logo-collapse {
  animation: slide-out-left 1s backwards;
  animation: spin 0.75s linear 0.5s;
}