.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar {
  border-right: solid 1px #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 24px;
  background-color: #fafafa;
}

.content {
  display: flex;
  padding: 20px;
}

.sidebar.expanded-sidebar {
  width: 180px;
  transition: width 1.5s ease;
  padding: 20px;
}

.sidebar.collapse-sidebar {
  width: 40px;
  transition: width 1.5s ease;
  padding: 20px;
}

.btn-handler.expanded-arrow {
  transform: rotate(0deg);
}

.btn-handler.collapse-arrow {
  transform: rotate(180deg);
}

@keyframes slide-out-left {
  0% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes show-in {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0.1;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.logo, .menu {
  overflow: hidden;
  cursor: pointer;
}

.logo img.logo-collapse {
  animation: slide-out-left 1s backwards;
  animation: spin 0.75s linear 0.5s;
}

.menu .menu-item {
  height: 16px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  color: #767676;
  margin-bottom: 4px;
}

.menu .menu-item.active, .menu .menu-item:hover {
  border-radius: 8px;
  background-color: rgba(60, 60, 60, 0.1);
  color: #3c3c3c;
}

.menu-icon {
  margin-right: 9.6px;
}

.menu-label {
  overflow: hidden;
  cursor: pointer;
  min-width: calc(156px - 22.4px);
}

.menu-label.label-collapse {
  opacity: 0;
}

.menu-label.label-expand {
  animation: show-in 1s;
}